.section-about {
    height: 100vh;
    width: 100%;
    background-color: #161716;

}
.container-about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}
.left-container {
    width: 400px;
}
.me {
    width: 500px;
    box-shadow: -12px -12px #ff6500 ;
    transition: 0.3s ease;
}
.me:hover{
    border-radius: 50%;
}
.right-container {
    width: 550px;
    font-size: 20px;
    line-height: 60px;
}
.head {
    color: #ff6500;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.head:hover {
    text-shadow: 0 0 25px #ff6500,
                 0 0 50px #ff6500;
}
.about-me {
    color: #ffeead;
}
.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.hire-me {
    background-color: #ff6500;
    border:none;
    border-radius: 5px;
    color: #ffeead;
    padding: 20px;
    width: 45%;
    font-size: 30px;
    font-weight: 700;
    transition: 0.2s ease;
    cursor: pointer;
}
.hire-me:hover {
    background-color: #1e201e;
    border: #ffeead solid;
}
.download {
    background-color: #1e201e;
    border: #ffeead solid;
    border-radius: 5px;
    color: #ffeead;
    padding: 20px;
    width: 50%;
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s ease;
}