.Clients {
    height: 100vh;
    width: 100%;
    background-color: #1e201e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title-client {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Happy-client {
    color: #ff6500;
    display: flex;
    justify-content: center; 
    font-size: 50px;  
}
.client-container {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
}
.client-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right-client {
    border: solid 5px #ff6500;
    background-color: #464745;
    height: 70%;
    width: 45%;
    transition: 0.3s ease;
}
.right-client:hover {
    border-radius: 15px;
    transform: scale(1.1);
}
.client-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    transition: 0.3s ease;
}
.client-image{
    width: 100px;
    border-radius: 100%;
}
.client1-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    line-height: 45px;
}
.cname1 {
    font-size: 30px;
    color: #ffeead;
    letter-spacing: 2px;
}
.cname2 {
    font-size: 30px;
    color:  #ffeead;
}
.client-job {
    font-size: 25px;
    color: #ff6500;
    font-weight: 500;
}
.client-feedback2 {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-comment {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #ffeead;
}
.client-two {
    width: 90px;
    border-radius: 100%;
}
@media (min-width:1025px) and (max-width: 1440px) {
    .client-container {
        height: 80%;
        width: 90%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    .right-client {
        border: solid 5px #ff6500;
        background-color: #464745;
        height: 70%;
        width: 45%;
        transition: 0.3s ease;
    }
    .client-feedback {
        height: 40%;
    }
    .client-image{
        width: 85px;
    }
    .client1-name {
        text-align: center;
        width: 70%;
    }
    .client-feedback2 {
        height: 60%;
        width: 100%;
    }
    .client-comment {
        font-size: 19px;
        line-height: 30px;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .client-container {
        width: 100%;
        justify-content: space-evenly;
    }
    .client-feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 100%;
    }
    .client-image{
        width: 80px;
    }
    .client1-name {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        width: 60%;
        line-height: 35px;
    }
    .cname1 {
        font-size: 20px;
    }
    .cname2 {
        font-size: 20px;
        color:  #ffeead;
    }
    .client-job {
        font-size: 15px;
    }
    .client-feedback2 {
        height: 35%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client-comment {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #ffeead;
    }
}