footer {
    height: 30vh;
    width: 100%;
    background-image: url(image/backgroundimg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 30%;
    width: 100%;
    font-size: 30px;
}
.contact-h2 {
    color: #ffeead;
    font-size: 30px;
}
.hr-contact {
    width: 100px;
    border: 2px solid #ffeead;
}
.footer-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-container {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.img-logo {
    width: 70px;
}
.img-icon {
    margin-left: 20%;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.img-fb {
    width: 40px;
}
.img-inst {
    width: 40px;
}
.img-git {
    width: 40px;
}
.inp-bttn-container {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.yname {
    padding: 4%;
    border: 4px solid #ff6500;
    border-radius: 5px;
    color: #464745;
}
.message-bttn {
    padding: 4%;
    border-radius: 5px;
    border: none;
    background-color: #ff6500;
    color: #ffeead;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.message-bttn:hover {
    opacity: 0.8;
    background-color: #ff6600e2;
}
.message-bttn:active {
    color: #ffefadda;
    opacity: 0.6;
    scale: 0.9;
}
.bttm-ft {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft-container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.loc-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.pin {
    width: 35px;
}
.pin1 {
    font-size: 15px;
    color: #ffeead;
}
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 8%;
}
.call-container {
    display: flex;
    align-items: center;
    gap: 15px;
}