.HIRE {
    height: 40vh;
    width: 100%;
    background-image: url(image/backgroundimg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
}
.hire-me-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
}
.hire-des {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 90%;
}
.Avail {
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    color: #ff6500;
}
.tell-me {
    padding-top: 10px;
    font-size: 30px;
    width: 60%;
    color:#ffeead;
}
.button-hire {
    padding-right: 300px;
}
.hire-button{
    background-color: #ff6500;
    color:#ffeead;
    font-size: 30px;
    font-weight: 600;
    padding: 40px;
    width: 30%;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hire-button:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px #ff6500,
    0 0 25px #ff6500, 0 0 50px #ff6500,
    0 0px 100px #ff6500, 0 0 200px #ff6500;
    transform: scale(1.1);
}
.hire-button:active {
    opacity: 0.9;
}
@media (min-width:1025px) and (max-width: 1440px) {
    .Avail {
        font-size: 25px;
        width: 70%;
    }
    .tell-me {
        font-size: 25px;
        width: 70%;
        color:#ffeead;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .Avail {
        font-size: 25px;
        width: 80%;
    }
    .tell-me {
        font-size: 25px;
        width: 85%;
        color:#ffeead;
    }
    .hire-button{
        font-size:25px;
        padding: 30px;
        width: 40%;
    }
}
@media (min-width:500px) and (max-width: 768px) {
    .Avail {
        font-size: 30px;
        width: 100%;
    }
    .tell-me {
        font-size: 30px;
        width: 100%;
        color:#ffeead;
    }
    .hire-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .hire-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .hire-button{
        font-size: 20px;
        padding: 30px;
        width: 40%;
    }
}