@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
::selection {
    background-color: whitesmoke;
    color:#ff6500;
}
header {
    background-color: #1e201e;
    height: 90px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.logo-prox {
    margin-top: 7px;
    width: 25%;
}
.Portfolio {
    font: 600;
    font-size: 25px;
    color: #ff6500;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: default;
}
.Portfolio:hover {
    color: #ff6500;
    text-shadow: 0 0 25px #ff6500,
                 0 0 50px #ff6500;
                 transform: scale(1.1);
}

.prox {
    width: 60px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
a {
    text-decoration: none;
    padding: 25px;
    color: #ff6500;
    font-weight: 700;
    font-size: 25px;
    transition: 0.3s ease;
}
a:hover {
    color: #ff6500;
    text-shadow: 0 0 25px #ff6500,
                 0 0 50px #ff6500;
                 transform: scale(1.1);
}

main {
    background-color: #1e201e;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.my-picture {
    border: #ff6500 10px solid;
    border-radius: 100%;
    width: 90%;
    transition: 0.3s ease;
}
.my-picture:hover {
    filter: drop-shadow(10px 10px 20px #ff6500);
    transform: scale(1.1);
}
.introduction {
    line-height: 60px;
    font-size: 30px;
    cursor: default;
}
h6 {
    color: #ffeead;
    font-size: 40px;
}
h5 {
    color: #ff6500;
    font-size: 30px;
    transition: 0.3s ease;
}
h5:hover {
    color: #ff6500;
    text-shadow: 0 0 25px #ff6500,
                 0 0 50px #ff6500;
}
.freelance {
    color: #ffeead;
}
.resume {
    background-color: #ff6500;
    display: flex;
    justify-content: center;
    width: 50%;
    color: #ffeead;
    font-size: 25px;
    font-weight: 700;
    border: none;
    padding: 25px;
    margin-top: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}
.resume:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px #ff6500,
    0 0 25px #ff6500, 0 0 50px #ff6500,
    0 0px 100px #ff6500, 0 0 200px #ff6500;
    transform: scale(1.1);
}
.resume:active {
    scale: 0.8;
    color: white;
}
@media (max-width: 500px)
{
    header {
        background-color: #1e201e;
    }
    .Portfolio {
        font-size: 15px;
        width: 25%;
    }
    .logo-prox {
        width: 60%;
    }
    .prox {
        width: 40px;
    }
    nav {
        width: 65%;
    }
    a {
        padding: 5px;
        font-size: 16px;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-picture {
        width: 50%;
    }
    .introduction {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 40px;
        font-size: 20px;
    }
    h6 {
        color: #ffeead;
        font-size: 25px;
    }
    h5 {
        color: #ff6500;
        font-size: 23px;
        transition: 0.3s ease;
    }
    .freelance {
        font-size: 30px;
    }
    .resume {
        font-size: 25px;
        padding: 20px;
    }
}